html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

	h1 {
		color:limegreen;
		font-size:16px;
		}

 	.homepageheading
		{
		margin-left:30px;
		}


	.homeimage
		{
		width:25%;
		display:block;
		}





