html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
  background-color:#f0f8ff;
}

	h1{
		color:black;
		font-size:42px;
		font-family:
		}

 	.homepageheading{
		margin-left:30px;
		}

	.homeimage{
		width:25%;
		display:block;
		}

	#nav{
		color:black
	}
		



